@font-face {
    font-family: "Libre Franklin";
    src: url(/fonts/static/LibreFranklin-Regular.ttf);
}

#wrapper {
    padding-left: 23.4em;
    font-family: "Libre Franklin";
    font-size: 120%;
}

#sidebar {
    font-family: "Libre Franklin";
    padding: 2.5em 2.5em 0.5em 2.5em ;
    background: #2079C7;
    cursor: default;
    height: 100vh;
    width: 15em;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
    text-align: center;
}

#sidebar nav > ul {

    text-align: right;
    vertical-align: middle;
    color: white;
    font-size: 180%;
    list-style: none;
    padding-top: 70%;
}

#sidebar nav > ul > li{
    padding-bottom: 2%;
}

.footer{
    padding-top: 210%;
}

a:link, a:visited {
    color : rgb(255, 255, 255);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(184, 184, 184);
    text-decoration: none;
}

#resumo, #projetos {
    padding-top: 2.5em;
    margin-bottom: 30%;
    margin-right: 30%;
    text-align: justify;
}

#curriculo {
    margin-right: 30%;
    text-align: center;
}

h1, h2, h3{
    text-align: center;
}

.foto {
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 2.5%;
    height: auto;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#projeto {
    padding-bottom: 10%;
}

.exemplo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    box-shadow: .6em .6em 2em black;
}

#centralizar_icons{
    text-align: center;
    filter:drop-shadow(.1em .1em .1em);
}
